footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px 0;
  background: #eda0d5;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer span {
  color: #fff;
  font-size: 13px;
}
footer span a {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
}
