@font-face {
  font-family: "Hortensia";
  src: local("Hortensia"), url("./font/Hortensia.woff") format("woff");
}

/* .inputBlock input {
  box-shadow: inset 0 -4px 12px -2px rgb(241, 91, 158);
}
.inputBlock textarea {
  box-shadow: inset 0 -4px 12px -2px rgb(241, 91, 158);
} */

.inputBlock input {
  box-shadow: inset 0 -4px 3px -2px rgb(241, 91, 158);
}
.inputBlock textarea {
  box-shadow: inset 0 -4px 3px -2px rgb(241, 91, 158);
}
.download:hover {
  background-color: #bf0c87 !important ;
}
.download:hover svg path {
  fill: #fff !important ;
}

#container {
  /* float: left;
  /* padding: 1em; */
  /* height: 100%; */
  /*  width: 100%; */
}

.uploader label {
  border-color: #bf0c87 !important;
}
.uploader label svg path {
  fill: #bf0c87 !important;
}
.uploader label div span {
  color: #bf0c87 !important;
  font-size: 18px;
}

.delPhoto svg {
  width: 25px;
  height: auto;
}

.delPhoto:hover {
  cursor: pointer;
}
